<!DOCTYPE html>
<html>

<head>
    <%include ../_head.html %>
</head>

<body id="app">
    <%include ../_nav.html %>

    <div class="container-fluid">

        <div class="panel-body ">
            <div class="row">
                <div class="col-sm-2">
                    <div class="list-group  ">

                        <a class="list-group-item active">
                            <h4 class="list-group-item-heading">分类</h4>
                        </a>
                        <!--Vue for -->
                        <div v-for="item in categories" class="list-group-item">
                            <a href="{{item._id}}">
                                {{item.name }}
                            </a>
                        </div>
                        <div>

                        </div>
                        <div>
                            <div class="list-group-item" v-show="category.isadd">
                                <input class="form-control" required
                                       type="text" placeholder="分类名称"
                                       v-model="category.name" />
                            </div>

                            <div class="list-group-item" v-show="category.isadd">
                                <input class="form-control" required
                                       type="text" placeholder="分类描述"
                                       v-model="category.describe" />
                            </div>

                        </div>
                    </div>

                </div>
                <div class="col-sm-3  ">
                    <a class="list-group-item row">
                        <h2 class="list-group-item-heading">接口</h2> 
                    </a>
                    <div class="list-group row">


                        <!--Vue for -->
                        <div v-for="item in categories" class="list-group-item">
                            <a href="{{item._id}}">
                                {{item.name }}
                            </a>
                        </div>
                        <div>

                        </div>
                        <div>
                            <div class="list-group-item" v-show="category.isadd">
                                <input class="form-control" required
                                       type="text" placeholder="分类名称"
                                       v-model="category.name" />
                            </div>

                            <div class="list-group-item" v-show="category.isadd">
                                <input class="form-control" required
                                       type="text" placeholder="分类描述"
                                       v-model="category.describe" />
                            </div>

                        </div>
                    </div>

                </div>

                <div class="col-sm-7 ">

                    <h4>
                        <%= category.name %>
                    </h4>
                    <h4>
                        describe:
                        <%= category.describe %>
                    </h4>

                </div>
            </div>
        </div>


    </div>
    <script src="/javascripts/category.js"></script>
    <script>
        app.getCategories('<%=category.appid %>');
    </script>
</body>

</html>