<!DOCTYPE html>
<html>

<head>
	<%include ../_head.html %>
</head>

<body>

	<%include ../_nav.html %>

		<div class="container-fluid">
			<div class="row-fluid">
				<h3 class="text-center">
					我的应用
				</h3>
			</div>
			<div>
				<% apps.forEach(function(app){ %>
					<div class="col-md-3 col-sm-4">
						<div class="panel panel-success">
							<div class="panel-body">
								<div class="row">
									<div class="col-sm-8">
										<a class="btn btn-link" href="console/<%= app.name %>">
											<h4>
												<%= app.name %>
											</h4>
										</a>

									</div>
									<div class="col-sm-4 text-right">
										<a class="btn btn-link" href="console/<%= app.name %>">
											<h5>
												预览
												</h4>
										</a>
									</div>
								</div>
								<div>
									appurl:
									<%= app.appurl %>
										<%= app.describe %>
								</div>
							</div>
						</div>
					</div>
					<% }) %>
						<div class="col-md-3 col-sm-4">
							<div class="panel panel-info">
								<div class="panel-body">
									<p><a href="/app/create">创建App </a></p>
								</div>
							</div>

						</div>


			</div>
		</div>

</html>