<!DOCTYPE html>
<html>
<head>
    <%include ../_head.html %>
</head>
<body>
    <%include ../_nav.html %>

    <div class="container-fluid">
        <div class="row-fluid">
            <h3 class="text-center">
                我的应用
            </h3>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <% apps.forEach(function(app){ %>
                <div class="col-md-3 col-sm-4">
                    <div class="panel panel-success">
                        <div class="panel-body">
                            <div class="col-sm-12">
                                <h4>
                                    <%= app.name %>
                                </h4>
                            </div>
                            <div class="col-sm-12 text-right">
                                <p>
                                    <a class="btn btn-link" href="console/<%= app.name %>">
                                        编辑
                                    </a>
                                    <a class="btn btn-link" target="viewdoc" href="doc/<%= app.name %>">
                                        预览
                                    </a>
                                </p>
                            </div>

                            <h5>
                                根目录:
                                <a href="<%= app.appurl %>" target="<%= app.name %>" class="btn-link">
                                    <%= app.appurl %>
                                </a>
                            </h5>
                            <h5>
                                描述：
                                <%= app.describe %>
                            </h5>

                        </div>
                    </div>
                </div>
                <% }) %>
                <div class="col-md-3 col-sm-4">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <p><a href="/app/create">创建App </a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>