<!DOCTYPE html>
<html>

<head>
    <%include ../_head.html %>
</head>

<body>

    <%include ../_navview.html %>

    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <br />
                <ul class="list-group">
                    <li class="list-group-item">
                        ddddddddddd
                    </li>

                    <li class="list-group-item">
                        8deeeyyyyyyyyy
                    </li>
                    <li class="list-group-item active">
                        <span class="badge">14</span> Cras justo odio
                    </li>
                </ul>


            </div>
            <div class="col-sm-8 col-md-9">
                <h3>
                    <%= app.name %>
                </h3>

                <h4>
                    url:
                    <%= app.appurl %>
                </h4>
                <h5>
                    描述:
                    <%= app.describe %>
                </h5>

            </div>


        </div>
    </div>
</body>
</html>