<!DOCTYPE html>
<html lang="en">


<head>
	 
	<%include _head.html %> 
</head>  
<body screen_capture_injected="true">
	
	<%include _nav.html %> 
	 

	<div class="container-fluid">
		<form class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 form-horizontal margin-top-p5" role="form" method="post" onsubmit="return false">
			<fieldset>
				<div id="app" class="panel panel-default">
					<div class="panel-body">
						<h3 class="text-center">注册</h3>
						<legend></legend>
						<div class="panel-body">
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
									</span>
									<input type="text" class="form-control" v-model="registeruser.username" placeholder="请输入用户名" required>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
									</span>
									<input type="password" class="form-control" v-model="registeruser.password" placeholder="请输入密码" required>
								</div>
							</div>
							<div class="form-group">
								<div class="input-group">
									<span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
									</span>
									<input type="password" class="form-control " v-model="registeruser.password1" placeholder="请再次输入密码 " required>
								</div>
							</div>
							<div class="form-group ">
								<button type="submit " class="btn btn-primary btn-block btn-lg " v-on:click="register()">注册</button>
							</div>
							<div class="form-group ">
								<button type="button " class="btn btn-success col-sm-2 col-sm-offset-10 " v-on:click="login_link()">登录</button>
							</div>
						</div>
					</div>
				</div>
			</fieldset>
		</form>
	</div>

	<script src="./javascripts/register.js"></script>

</body> 

</html>